
<div dir=rtl >
<h1>قوانین انجمنی</h1>

قوانین انجمنی روابط و وابستگی‌های متقابل بین مجموعه بزرگی از اقلام داده‌ای را نشان می‌دهند. 

مثال متداول در رابطه با کشف قوانین انجمنی "تحلیل سبد خرید" است.  در این فرایند با توجه به اقلام مختلفی که مشتریان در سبد خریدشان قرار می‌دهند، عادات و رفتار خرید مشتریان مورد تحلیل قرار می‌گیرد و می‌توان با شناسایی ارتباط بین محصولات، الگوهای تکرار شونده در حین خرید را بدست آورد.

سه پارامتر مهم:
- Support  میزان محبوبیت یک مجموعه آیتم را با توجه به دفعات حضور در تراکنش‌ها نشان می‌دهد.
- Confidence  احتمال خرید آیتم y در صورت خرید آیتم x را نشان می‌دهد. x -> y
- Lift   ترکیب دو پارامتر بالا می‌باشد.

برای پیاده سازی قوانین انجمنی در این تمرین، از الگوریتم Apriori که یکی از محبوب‌ترین و کارآمدترین الگوریتم‌های این حوزه است استفاده می‌کنیم.


<font color='Green'> پرسش:  تاثیر مقادیر مختلف پارامتر Lift را در احتمال وقوع نتیجه بررسی کنید.  </font>


</div>


<div dir=rtl >
<h1>الگوریتم Apriori</h1>

روش کار الگوریتم به این صورت است که یک  حداقل مقدار پشتیبانی در نظر گرفته    می‌شود و تکرارها با مجموعه آیتم‌های مکرر اتفاق می‌افتند. در صورتیکه  مجموعه‌ها و زیرمجموعه‌ها مقدار پشتیبانی کمتر از حد آستانه داشته باشند حذف می‌شوند. این روند تا زمانیکه امکان حذف وجود نداشته باشد ادامه می‌یابد. 

در این بخش از تمرین می‌خواهیم الگوریتم apriori را بر روی مجموعه داده Hypermarket_dataset که شامل سفارشات خرید افراد از فروشگاه های مواد غذایی است اعمال کنیم.


</div>


<div dir=rtl >
<h1>آماده‌سازی داده</h1>

<font color='Green'>پرسش: برای شروع کار باید داده‌های دیتاست را در قالب ماتریس پراکنده که محصولات  خریداری شده در ستون‌ و شماره سفارشات خرید به عنوان شاخص (index) هستند آماده کنید. 


برای راحتی کار محصولات خریداری شده در هر سفارش را با اعداد 0,1 کدگذاری کنید.

 نمونه ماتریس خروجی شما:

<img src="https://drive.google.com/uc?id=1eD0jan1ZbeYqSklgK--ks7oeY-MyTA3p"></img>

</div>

<div dir="rtl">
  <font color="yellow">
    معیار lift میزان خوب بودن ارتباط دو آیتم را نشان میدهد. این معیار نسبت فرکانس دو آیتم که باهم خریداری شده اند بر فرکانس مورد انتظار ما برای اینکه باهم خریداری شوند به شرطی که آیتم ها مستقل از هم باشند است. مقدار بالای lift میزان ارتباط زیاد دو آیتم را نشان میدهد در حالی که مقدار کم lift میزان ارتباط کم دو آیتم را بیان میکند.
  </font>
</div>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [18]:
# your code here
main_columns = []
df = pd.read_csv("Hypermarket_dataset.csv", header = None)

df = df.iloc[1: , :]
for i in df.iloc[:, 2]:
  main_columns.append(i)
main_columns = list(set(main_columns))

data_dict = {}
data = []
indexes = []
for index, row in df.iterrows():
  index = row[0]
  items = row[2]
  indexes.append(index)
  if index in data_dict:
    data_dict[index].append(items)
  else:
    data_dict[index] = [items]

for key, value in data_dict.items():
  items_list = [0]*len(main_columns)
  for v in value:
    items_list[main_columns.index(v)] = 1
  data.append(items_list)

indexes = list(set(indexes))
final_df = pd.DataFrame(data, index=indexes, columns=main_columns)
final_df

,skin care,cream cheese,liqueur,red/blush wine,cereals,sweet spreads,pot plants,jam,canned beer,cake bar,...,ready soups,female sanitary products,toilet cleaner,ice cream,pickled vegetables,make up remover,turkey,yogurt,organic sausage,canned fruit
4813,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3150,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2211,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3564,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1869,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# New Section


<div dir=rtl >
<h1>شناسایی الگوهای پر تکرار</h1>

<font color='Green'> پرسش:  با اعمال الگوریتم apriori و به ازای مقدار min_support = 0.07 تمامی الگوهای پر تکرار را تولید نمایید. 

</div>

In [19]:
# your code here
frequent_itemsets = apriori(final_df, min_support=0.07)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support        itemsets  length
0   0.088507             (1)       1
1   0.165213             (8)       1
2   0.230631            (10)       1
3   0.086455            (13)       1
4   0.349666            (15)       1
..       ...             ...     ...
78  0.075423      (164, 124)       2
79  0.071575      (156, 142)       2
80  0.120318      (164, 156)       2
81  0.082093   (156, 46, 15)       3
82  0.071832  (164, 156, 46)       3

[83 rows x 3 columns]


<div dir=rtl >
<h1>استخراج قوانین انجمنی</h1>


<font color='Green'> پرسش: تابعی بنویسید که با گرفتن دو ورودی confidence و lift قوانین انجمنی حاصل را در خروجی نشان دهد. </br>
برای دو حالت خروجی خود را در گزارش ثبت کنید.


</div>

In [20]:
# your code here
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
11,(164),"(156, 46)",0.282966,0.191380,0.071832,0.253853,1.326434,0.017678,1.083727,1,2
10,"(156, 46)",(164),0.191380,0.282966,0.071832,0.375335,1.326434,0.017678,1.147870,2,1
13,(46),"(156, 164)",0.458184,0.120318,0.071832,0.156775,1.303003,0.016704,1.043235,1,2
8,"(156, 164)",(46),0.120318,0.458184,0.071832,0.597015,1.303003,0.016704,1.344507,2,1
1,(124),(164),0.206003,0.282966,0.075423,0.366127,1.293892,0.017132,1.131196,1,1
0,(164),(124),0.282966,0.206003,0.075423,0.266546,1.293892,0.017132,1.082545,1,1
12,(156),"(164, 46)",0.376603,0.150590,0.071832,0.190736,1.266589,0.015119,1.049608,1,2
9,"(164, 46)",(156),0.150590,0.376603,0.071832,0.477002,1.266589,0.015119,1.191967,2,1
2,"(156, 46)",(15),0.191380,0.349666,0.082093,0.428954,1.226753,0.015174,1.138847,2,1
7,(15),"(156, 46)",0.349666,0.191380,0.082093,0.234776,1.226753,0.015174,1.056710,1,2
3,"(156, 15)",(46),0.146742,0.458184,0.082093,0.559441,1.220996,0.014859,1.229837,2,1
6,(46),"(156, 15)",0.458184,0.146742,0.082093,0.179171,1.220996,0.014859,1.039508,1,2
4,"(46, 15)",(156),0.178553,0.376603,0.082093,0.459770,1.220834,0.014850,1.153947,2,1
5,(156),"(46, 15)",0.376603,0.178553,0.082093,0.217984,1.220834,0.014850,1.050422,1,2

In [21]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.07)
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
95,(164),"(156, 46)",0.282966,0.191380,0.071832,0.253853,1.326434,0.017678,1.083727,1,2
94,"(156, 46)",(164),0.191380,0.282966,0.071832,0.375335,1.326434,0.017678,1.147870,2,1
97,(46),"(156, 164)",0.458184,0.120318,0.071832,0.156775,1.303003,0.016704,1.043235,1,2
92,"(156, 164)",(46),0.120318,0.458184,0.071832,0.597015,1.303003,0.016704,1.344507,2,1
81,(124),(164),0.206003,0.282966,0.075423,0.366127,1.293892,0.017132,1.131196,1,1
...,...,...,...,...,...,...,...,...,...,...,...
45,(46),(43),0.458184,0.313494,0.151103,0.329787,1.051973,0.007465,1.024310,1,1
51,(156),(43),0.376603,0.313494,0.124166,0.329700,1.051695,0.006103,1.024178,1,1
50,(43),(156),0.313494,0.376603,0.124166,0.396072,1.051695,0.006103,1.032237,1,1
35,(28),(156),0.233710,0.376603,0.091329,0.390779,1.037642,0.003313,1.023269,1,1
34,(156),(28),0.376603,0.233710,0.091329,0.242507,1.037642,0.003313,1.011614,1,1